<a href="https://colab.research.google.com/github/angelmaxxx/angelmaxxx/blob/main/Exerc%C3%ADcio_aulaPySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql.functions import regexp_replace
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Para deixar a visualição das tabelas mais amigável
spark

In [ ]:
'''
Requisito 1:
Em ambiente PySpark crie uma tabela com quatro atributos sendo o
primeiro qualitativo e os demais como quantitivos e dez registros
(linhas para a tabela) sem registros nulos.
'''

'''
Requisito 2:
Em ambiente PySpark gerar um describe da tabela gerada no requisito anterior e recebê-lo
com um df pyspark.
'''

'''
Requisito 3:
Em ambiente PySpark Selecionar a linha de desvio padrão do df gerar uma lista
no ambiente python e armazená-lo com o nome sd
'''

'''
Requisito 4:
Em ambiente Python, manipular essa lista e a partir dela gerar uma lista
com todos os valores numéricos da lista sd elevado ao quadrado e receber essa
nova lista com o nome var
'''

'''
Requisito 5:
Transformar cada lista do requisito anterior em um df py spark
'''

'''
Requisito 6:
Em ambiente Pyspark juntar os dois dfs criados no requisito anterior e
armazená-lo em um df pyspark chamado sd_var
'''

'''
Requisito 7:
Em ambiente Pyspark gerar uma junção do df da variância com o df das medidas
'''

'''
Requisito 8:
criar uma lista que contenha as modas de todos os atributos quantitativos
do df inicial e inseri-la no df pyskar de mesdidas
'''
'''
Requisito 9:
Em ambiente Pyspark e Python e de forma semelahnte ao que foi feito nos
requisitos anteriores

Calcule e adicione ao df de medidas do pyspark as seguintes linhas com seus
respectivos valores para as medidas:
* Mediana
* Q1
* Q3
* AT
* AIQ
* LS
* LI

'''

In [ ]:
'''
Requisito 1:
Em ambiente PySpark crie uma tabela com quatro atributos sendo o
primeiro qualitativo e os demais como quantitivos e dez registros
(linhas para a tabela) sem registros nulos.
'''

'''
Criação do schema que nada mais é do que o esqueleto da tabela
'''
from pyspark.sql.types import *
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DoubleType # importando estrutura da tabela (structType)
schema = StructType([ \
    StructField('nome',StringType(),True), \
    StructField('idade',IntegerType(),True), \
    StructField('altura',DoubleType(),True), \
    StructField('peso', DoubleType(), True), \
  ])

'''
Criação do objeto (nível Python) que contém as tuplas com os regitros que farão
parte da tabela
'''
dados = [('Douglas',45,1.85,70.),
    ('Daniela',7,1.23,22.),
    ('Pedro',65,1.75,87.),
    ('Maria',64,1.67,64.),
    ('Eduardo',37,1.82,96.),
    ('Ester',37,1.73,69.),
    ('Tobias',18,1.82,96.),
    ('Angela',32,1.72,70.),
    ('Dagmar',35,1.65,63.),
    ('Everaldo',37,1.82,96.)
  ]
'''
Criação do dataframe py spark juntando a estutura da tabela com o objeto
que contém os registros
'''
df_py = spark.createDataFrame(data=dados,schema=schema)
'''
Imprimir o schema do df_py
'''
df_py.printSchema()

'''
Mostrar o df_py
'''
df_py.show()

root
 |-- nome: string (nullable = true)
 |-- idade: integer (nullable = true)
 |-- altura: double (nullable = true)
 |-- peso: double (nullable = true)

+--------+-----+------+----+
|    nome|idade|altura|peso|
+--------+-----+------+----+
| Douglas|   45|  1.85|70.0|
| Daniela|    7|  1.23|22.0|
|   Pedro|   65|  1.75|87.0|
|   Maria|   64|  1.67|64.0|
| Eduardo|   37|  1.82|96.0|
|   Ester|   37|  1.73|69.0|
|  Tobias|   18|  1.82|96.0|
|  Angela|   32|  1.72|70.0|
|  Dagmar|   35|  1.65|63.0|
|Everaldo|   37|  1.82|96.0|
+--------+-----+------+----+

In [ ]:
'''
Requisito 2:
Em ambiente PySpark gerar um describe da tabela gerada no requisito anterior e
recebê-lo com um df pyspark.
'''
medidas = df_py.describe()
medidas.show()
medidas = medidas.drop("nome")
medidas.show()

+-------+------+------------------+-------------------+------------------+
|summary|  nome|             idade|             altura|              peso|
+-------+------+------------------+-------------------+------------------+
|  count|    10|                10|                 10|                10|
|   mean|  null|              37.7| 1.7060000000000002|              73.3|
| stddev|  null|17.832866037491314|0.18056700818378885|22.603097132915217|
|    min|Angela|                 7|               1.23|              22.0|
|    max|Tobias|                65|               1.85|              96.0|
+-------+------+------------------+-------------------+------------------+

+-------+------------------+-------------------+------------------+
|summary|             idade|             altura|              peso|
+-------+------------------+-------------------+------------------+
|  count|                10|                 10|                10|
|   mean|              37.7| 1.7060000000000002|              73.3|
| stddev|17.832866037491314|0.18056700818378885|22.603097132915217|
|    min|                 7|               1.23|              22.0|
|    max|                65|               1.85|              96.0|
+-------+------------------+-------------------+------------------+

In [ ]:
'''
Requisito 3:
Em ambiente PySpark Selecionar a linha de desvio padrão do df gerar uma lista
no ambiente python e armazená-lo com o nome sd
'''
sd = list(medidas.collect()[2])
print(sd)

['stddev', '17.832866037491314', '0.18056700818378885', '22.603097132915217']

In [ ]:
'''
Requisito 4:
Em ambiente Python, manipular essa lista e a partir dela gerar uma lista
com todos os valores numéricos da lista sd elevado ao quadrado e receber essa
nova lista com o nome var
'''
sd.pop(0)
print(sd)
var = []
for i in range(len(sd)):
  sd[i] = float(sd[i])
  var.append(sd[i]**2)
print(var)

['17.832866037491314', '0.18056700818378885', '22.603097132915217']
[318.0111111111112, 0.03260444444444447, 510.9000000000001]

In [ ]:
'''
Requisito 5:
Transformar cada lista do requisito anterior em um df py spark
'''
sd.insert(0,'desvio padrão')
var.insert(0, 'variância')
#sd = tuple(sd)
#var = tuple(var)
df_var = spark.createDataFrame([var])
df_sd = spark.createDataFrame([sd],["summary","idade","altura","peso"])
df_sd.show()
df_var.show()
df_var.printSchema()

+-------------+------------------+-------------------+------------------+
|      summary|             idade|             altura|              peso|
+-------------+------------------+-------------------+------------------+
|desvio padrão|17.832866037491314|0.18056700818378885|22.603097132915217|
+-------------+------------------+-------------------+------------------+

+---------+-----------------+-------------------+-----------------+
|       _1|               _2|                 _3|               _4|
+---------+-----------------+-------------------+-----------------+
|variância|318.0111111111112|0.03260444444444447|510.9000000000001|
+---------+-----------------+-------------------+-----------------+

root
 |-- _1: string (nullable = true)
 |-- _2: double (nullable = true)
 |-- _3: double (nullable = true)
 |-- _4: double (nullable = true)

In [ ]:
'''
Requisito 6:
Em ambiente Pyspark juntar os dois dfs criados no requisito anterior e
armazená-lo em um df pyspark chamado sd_var
'''

df_sd_var = df_sd.union(df_var)
df_sd_var.show()

+-------------+------------------+-------------------+------------------+
|      summary|             idade|             altura|              peso|
+-------------+------------------+-------------------+------------------+
|desvio padrão|17.832866037491314|0.18056700818378885|22.603097132915217|
|    variância| 318.0111111111112|0.03260444444444447| 510.9000000000001|
+-------------+------------------+-------------------+------------------+

In [ ]:
'''
Requisito 7:
Em ambiente Pyspark fazer a inclusão do df da variância no df das medidas
'''
medidas = medidas.union(df_var)
medidas.show()

+---------+------------------+-------------------+------------------+
|  summary|             idade|             altura|              peso|
+---------+------------------+-------------------+------------------+
|    count|                10|                 10|                10|
|     mean|              37.7| 1.7060000000000002|              73.3|
|   stddev|17.832866037491314|0.18056700818378885|22.603097132915217|
|      min|                 7|               1.23|              22.0|
|      max|                65|               1.85|              96.0|
|variância| 318.0111111111112|0.03260444444444447| 510.9000000000001|
+---------+------------------+-------------------+------------------+

In [ ]:
'''
Requisito 8:
criar uma lista que contenha as modas de todos os atributos quantitativos
do df inicial e inserí-la no df pyskark de medidas
'''
[df_py.groupby(i).count().orderBy("count", ascending=False).first()[0] for i in df_py.columns]
'''
agrupando no df original os valores das colunas e contando os valores e ordenando
esses valores de forma descrescente (da maior contagem para a menor) e selecionando
o primeiro da linha 0 e tudo para cada valor de cada coluna do df original
'''
moda = [df_py.groupby(i).count().orderBy("count", ascending=False).first()[0] for i in df_py.columns]
moda.pop(0)
moda.insert(0,'moda')
moda = spark.createDataFrame([moda])
medidas = medidas.union(moda)

In [ ]:
medidas.show()

+---------+------------------+-------------------+------------------+
|  summary|             idade|             altura|              peso|
+---------+------------------+-------------------+------------------+
|    count|                10|                 10|                10|
|     mean|              37.7| 1.7060000000000002|              73.3|
|   stddev|17.832866037491314|0.18056700818378885|22.603097132915217|
|      min|                 7|               1.23|              22.0|
|      max|                65|               1.85|              96.0|
|variância| 318.0111111111112|0.03260444444444447| 510.9000000000001|
|     moda|                37|               1.82|              96.0|
+---------+------------------+-------------------+------------------+

In [ ]:
'''
Requisito 9:
Em ambiente Pyspark e Python e de forma semelahnte ao que foi feito nos
requisitos anteriores

Calcule e adicione ao df de medidas do pyspark as seguintes linhas com seus
respectivos valores para as medidas:
* Mediana
* Q1
* Q3
* AT
* AIQ
* LS
* LI

'''

df_py.approxQuantile(['idade','altura','peso'], [0.25,0.5,0.75], 0)

[[32.0, 37.0, 45.0], [1.67, 1.73, 1.82], [64.0, 70.0, 96.0]]

In [ ]:
quartis = df_py.approxQuantile(['idade','altura','peso'], [0.25,0.5,0.75], 0)
print(quartis)
q1 = [quartis[0][0], quartis[1][0], quartis[2][0]]
print(q1)
med = [quartis[0][1], quartis[1][1], quartis[2][1]]
print(med)
q3 = [quartis[0][2], quartis[1][2], quartis[2][2]]
print(q3)

[[32.0, 37.0, 45.0], [1.67, 1.73, 1.82], [64.0, 70.0, 96.0]]
[32.0, 1.67, 64.0]
[37.0, 1.73, 70.0]
[45.0, 1.82, 96.0]

In [ ]:
min = medidas.collect()[3]

In [ ]:
min

Row(summary='min', idade='7', altura='1.23', peso='22.0')

In [ ]:
float(min['peso'])

22.0

In [ ]:
minimo = [float(min['idade']),float(min['altura']),float(min['peso'])]
print(minimo)

max = medidas.collect()[4]
maximo = [float(max['idade']),float(max['altura']),float(max['peso'])]
print(maximo)

[7.0, 1.23, 22.0]
[65.0, 1.85, 96.0]

In [ ]:
at = [] # Criando a lista que receberá os valores de amplitude total
aiq = [] # Criando a lista que receberá os valores de amplitude interquartílica
li = [] # Criando a lista que receberá os valores de limite inferior do BoxPlot
ls = [] # Criando a lista que receberá os valores de limite superior do BoxPlot
for i in range(len(minimo)): # criando o for para fazer os cálculos
  at.append(maximo[i]-minimo[i])# calculando e apendando os valores de amplitude
  aiq.append(q3[i]-q1[i])# calculando e apendando os valores de amplitude interquartílica
  li.append(q1[i]-1.5*aiq[i]) # calculando e apendando os valores de limite inferior
  ls.append(q3[i]+1.5*aiq[i]) # calculando e apendando os valores de limite superior
q1.insert(0, 'Q1')
med.insert(0, 'mediana')
q3.insert(0, 'Q3')
at.insert(0, 'AT')
aiq.insert(0, 'AIQ')
li.insert(0, 'LI')
ls.insert(0, 'LS')
print(q1)
print(med)
print(q3)
print(at)
print(aiq)
print(li)
print(ls)

['Q1', 32.0, 1.67, 64.0]
['mediana', 37.0, 1.73, 70.0]
['Q3', 45.0, 1.82, 96.0]
['AT', 58.0, 0.6200000000000001, 74.0]
['AIQ', 13.0, 0.15000000000000013, 32.0]
['LI', 12.5, 1.4449999999999998, 16.0]
['LS', 64.5, 2.0450000000000004, 144.0]

In [ ]:
adc = spark.createDataFrame([q1,med,q3,at,aiq,li,ls])
adc.show()

In [ ]:
medidas = medidas.union(adc)
medidas.show()

+---------+------------------+-------------------+------------------+
|  summary|             idade|             altura|              peso|
+---------+------------------+-------------------+------------------+
|    count|                10|                 10|                10|
|     mean|              37.7| 1.7060000000000002|              73.3|
|   stddev|17.832866037491314|0.18056700818378885|22.603097132915217|
|      min|                 7|               1.23|              22.0|
|      max|                65|               1.85|              96.0|
|variância| 318.0111111111112|0.03260444444444447| 510.9000000000001|
|     moda|                37|               1.82|              96.0|
|       Q1|              32.0|               1.67|              64.0|
|  mediana|              37.0|               1.73|              70.0|
|       Q3|              45.0|               1.82|              96.0|
|       AT|              58.0| 0.6200000000000001|              74.0|
|      AIQ|              13.0|0.15000000000000013|              32.0|
|       LI|              12.5| 1.4449999999999998|              16.0|
|       LS|              64.5| 2.0450000000000004|             144.0|
+---------+------------------+-------------------+------------------+

In [ ]:
'''
Contribuição cedida gentilmente pelo aluno Diego, com a colaboração dos alunos
Aska, Gus e Samira
'''
from pyspark.sql.functions import col
#Lista todas as Colunas do dataframe
todas_colunas = [coluna for coluna, tipo in df_py.dtypes ]
#Lista todas as Colunas do dataframe
colunas_numericas = [coluna for coluna, tipo in df_py.dtypes if tipo in ['double', 'float', 'decimal', 'int', 'long']]
# Calculando os quartis de todos os atributos quantitativos
quartis = df_py.approxQuantile(colunas_numericas, [0.25,0.5,0.75], 0)
quartis

[[32.0, 37.0, 45.0], [1.67, 1.73, 1.82], [64.0, 70.0, 96.0]]

In [ ]:
df_py.printSchema()
df_py.dtypes
#Conferir se o tipo do schema é o mesmo do df

root
 |-- nome: string (nullable = true)
 |-- idade: integer (nullable = true)
 |-- altura: double (nullable = true)
 |-- peso: double (nullable = true)

[('nome', 'string'),
 ('idade', 'int'),
 ('altura', 'double'),
 ('peso', 'double')]

In [ ]:
from pyspark.sql.functions import col, count, when, isnan, isnull

# Número de linhas
num_linhas = df_py.count()
print("Número de linhas: ", num_linhas)

# Número de colunas
num_colunas = len(df_py.columns)
print("Número de colunas: ", num_colunas)

# Nomes das colunas e seus tipos
print("Esquema do DataFrame:")
df_py.printSchema()

# Contagem de valores não nulos por coluna
print("Contagem de valores não nulos por coluna:")
df_py.agg(*[(count(when(col(c).isNotNull(), c)).alias(c)) for c in df_py.columns]).show()

# Contagem de valores nulos por coluna
print("Contagem de valores nulos por coluna:")
df_py.agg(*[(count(when(isnull(col(c)), c)).alias(c)) for c in df_py.columns]).show()

# Contagem de valores ausentes por coluna
print("Contagem de valores ausentes por coluna:")
df_py.agg(*[(count(when(isnan(col(c)) | isnull(col(c)), c)).alias(c)) for c in df_py.columns]).show()

Número de linhas:  10
Número de colunas:  4
Esquema do DataFrame:
root
 |-- nome: string (nullable = true)
 |-- idade: double (nullable = true)
 |-- altura: double (nullable = true)
 |-- peso: double (nullable = true)

Contagem de valores não nulos por coluna:
+----+-----+------+----+
|nome|idade|altura|peso|
+----+-----+------+----+
|  10|   10|    10|  10|
+----+-----+------+----+

Contagem de valores nulos por coluna:
+----+-----+------+----+
|nome|idade|altura|peso|
+----+-----+------+----+
|   0|    0|     0|   0|
+----+-----+------+----+

Contagem de valores ausentes por coluna:
+----+-----+------+----+
|nome|idade|altura|peso|
+----+-----+------+----+
|   0|    0|     0|   0|
+----+-----+------+----+